.main-container {
    height: 100vh;
}

.main-card-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    padding: 25px;
    font-size: 1.2em;
    letter-spacing: 0.015em;
    color: #F7F7F7F7;
    font-family: "Arimo";
    flex-wrap: wrap;
}

.content-container {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    padding: 50px;
    display: flex;
    column-gap: 25px;
    row-gap: 100px;
    flex-wrap: wrap;
}

.img-container {
    justify-self: center;
}

.image {
    height: 500px;
    width: 500px;
    border-radius: 20px;
}