.nav-container {
    position: sticky;
    top: 0px;
    z-index: 2;
}

.layout-container {
    display: flex;
    justify-content: center;
    padding: 25px;
    border-radius: 0px 0px 25px 25px;
    background-color: #2a2a2d;
}

.link {
    color: #F7F7F7F7;
    text-decoration: none;
}